body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Merriweather';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* NAV CONTENT*/


/* SMTH MAIN*/

.home-main {
    background-color: rgba(241, 238, 238, 0.505);
}


/* HOME CONTENT*/

.homeContent {
    background-image: url(../images/1000_F_199657094_YFR3ix8E3VhJYPbyYkYc5VhmtJfwYWZw-transformed.jpeg);
    background-size: cover;
    width: 100%;
    min-height: 430px;
    margin-bottom: 2px;
}

.smallContent {
    width: 190px;
    border: 2px solid #380f0f;
    margin: 0px auto;
}

.smallSpace {
    height: 1px;
}

.someContent {
    background-color: rgba(135, 43, 43, 0.4);
}

.someContent h2 {
    font-size: 50px;
    color: #380f0f;
    padding-top: 170px;
}

.homeContent h3 {
    padding-top: 4px;
    font-size: 18px;
    color: #380f0f;
}

.afterContent {
    padding: 94px;
}

.au-btn {
    margin-top: 30px;
}

.about-us-button {
    color: #380f0f !important;
    border-width: 2px;
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 23px auto 60px;
    background-color: transparent !important;
    stroke: none;
    position: relative;
    padding: 9px;
}


/* STORE CONTENT*/

.storeContent {
    display: flex;
    background-color: #ffffff;
    color: #fff;
}

.image-container img,
.text-container img {
    width: 100%;
    height: auto;
    padding: 1.2em;
}

.image-container {
    flex: 1;
    position: relative;
}

.text-container {
    flex: 1;
    position: relative;
}

.storeCentered {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(22, 22, 22);
}

.storeCentered h2 {
    font-size: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #242121;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.button:visited {
    color: #242121;
}

.button:hover {
    color: #302e2e;
    text-decoration: underline;
}

.storeCentered p {
    font-size: 20px;
    text-decoration: none;
    color: #242121;
    transition: color 0.3s ease;
}

.storeCentered a:hover {
    color: #8b8989;
    text-decoration: underline;
}

.consContent {
    height: 500px;
    background-image: url('/images/788aec0fd34911ca954df7bfeb36f608dfcfb20d4f99fb12a2596c6553e8ad2ad48f831db6e67e62f57acf41d81fe4928c2865d4e81e3f7d5f2717_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    position: relative;
    background-blend-mode: soft-light;
    background-color: rgb(132, 82, 82);
}

.consContent h2,
.consContent p {
    color: #fff;
    margin-left: 0;
}

.consContent p {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 24px;
}

.consContent h2 {
    font-size: 90px;
}

.consText {
    float: none;
    text-align: left;
    padding-top: 120px;
    padding-left: 150px;
}

.cons-button {
    color: #81233f !important;
    border-width: 2px;
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 23px auto 60px;
    background-color: transparent !important;
    stroke: none;
    position: relative;
    padding: 9px;
}