body {}

.blnkspc {
    height: 150px;
}

h2 {
    color: #5c3a3e;
}

.signup-form {
    margin: 0 auto;
    padding: 20px;
    width: 320px;
    background-color: #CDB2B9;
    border-radius: 40px;
    height: 320px;
}

input {
    width: 250px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #a2656d;
    padding: 5px 0px 5px 10px;
}

button {
    border-radius: 25px;
    outline: none;
    text-decoration: none;
    padding: 5px;
    width: 100px;
    background-color: #ffdae1;
    border: 1px solid rgb(138, 115, 115);
    color: black;
}

button a {
    text-decoration: none;
    color: black;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.error {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #966569;
    background-color: #fbc0c8;
    color: rgb(117, 17, 17);
    width: fit-content;
}