form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #CDB2B9;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    /* Center the form content */
}

.blnkspc {
    height: 20px;
    /* Reduce the height for better spacing */
}

form>label {
    display: block;
    /* Make labels stack on top of inputs */
    text-align: left;
}

form>input,
form>textarea {
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #ebced6;
    margin-left: 0;
    /* Remove margin-left to center the submit button */
}

.blnk {
    height: 10px;
    /* Reduce the height for better spacing */
}